.container{
    width: 100%;
    padding-bottom: 100%;
    padding-left: 2%;
    padding-top: 4%;
}
.box{
    background-color: orange;
    width: 30%;
    padding-bottom: 30%; /*自适应*/
    margin: 1%;
    border-radius: 7%; /*设置圆角*/
    float: left;
}
body{
    font-size: 62.5%; /* (10/16)*100% */
}
.page{
    background-color: #68cdd5;
    padding-bottom: 100%;
    margin: 0 auto;
}
.back{
    width: 5rem;

    padding-top: 1.2rem;
    padding-left: 1.2rem;
}
.logo{

    padding-top: 5rem;
    text-align: center;
}

.about{
    display: flex;
    justify-content: center;/*使用flex让这个item居中*/
    text-align: left;
    padding-top: 5rem;
    padding-left: 3rem;
    padding-right: 3rem;
    color: white;
    font-size: 1rem; /* xxxxrem * 10px = px*/
    font-family: "微软雅黑",serif;
    letter-spacing: 1.5pt;
}
.right{
    /*position: absolute;*/
    /*值为绝对定位，该元素可放至页面任意位置，相对于页面中第一个父元素定位，属性top、right、bottom、left*/
    margin-top: 7rem;
    float: right;
    padding-right: 3rem;
}
.left{
    margin-top: 7rem;
    padding-left: 3rem;

}

.left>p{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}
.right>p{
    color: white;
    font-weight: bold;
    font-size: 1rem;
}