.container{
    width: 100%;
    padding-bottom: 100%;
    padding-left: 2%;
    padding-top: 4%;
}
.box{
    background-color: orange;
    width: 30%;
    padding-bottom: 30%; /*自适应*/
    margin: 1%;
    border-radius: 7%; /*设置圆角*/
    float: left;
}
body{
    font-size: 62.5%; /* (10/16)*100% */
    margin: 0;
}
.pageIntro{
    background-color: #68cdd5;
    padding-bottom:100%;
    font-family: "华文细黑",serif;
}

.back-logo{
    padding-top: 1rem;
    padding-left: 1rem;
}
.back-logo>img{
    width: 30px;
}

.PTT-logo{
    padding-top: 4rem;
    text-align: center;
}
.PTT-logo>img{
    width:100px;
    height:auto;
}
.aboutPTT{
    display: flex;
    justify-content: center;/*使用flex让这个item居中*/
    text-align: left;
    padding-top: 4rem;
    margin-left: 4rem;
    margin-right: 4rem;
    color: white;
    font-size: 0.9rem; /* xxxxrem * 10px = px*/
    letter-spacing: 0.2rem;
    font-weight: bold;
}

.rightCircle{
    /*position: absolute;*/
    /*值为绝对定位，该元素可放至页面任意位置，相对于页面中第一个父元素定位，属性top、right、bottom、left*/
    float: right;
    margin-right: 4rem;
}
.leftCircle{
    margin-top: 6rem;
    margin-left: 4rem;
}
.leftCircle>img{
    width: 50px;
}
.rightCircle>img{
    width: 50px;
}
.leftCircle>p{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}
.rightCircle>p{
    color: white;
    font-weight: bold;
    font-size: 0.8rem;
}