/*——————————task01_九宫格————————————*/
.container {
    padding-top: 4%;
    padding-bottom: 100%;
    padding-left: 2%;
    width: 100%;
}
.box {
    float: left;
    margin: 1%;
    padding-bottom: 30%; /*自适应*/
    width: 30%;
    border-radius: 7%; /*设置圆角*/
    background-color: orange;
}
/*——————————task03_魔镜介绍页——————————————*/
body {
    /*overflow-y: hidden;*/
    margin: 0;
    font-size: 62.5%; /* (10/16)*100% */
}
.pageIntro {
    padding-bottom: 100%;
    font-family: "华文细黑", serif;
    background-color: #68cdd5;
}

.back-logo {
    padding-top: 1rem;
    padding-left: 1rem;
}
.back-logo > img {
    width: 30px;
}
.PTT-logo {
    padding-top: 4rem;
    text-align: center;
}
.PTT-logo > img {
    width: 100px;
    height: auto;
}
.aboutPTT {
    display: flex;
    justify-content: center;/*使用flex让这个item居中*/
    margin-right: 4rem;
    margin-left: 4rem;
    padding-top: 4rem;
    font-size: 0.9rem; /* xxxxrem * 10px = px*/
    font-weight: bold;
    text-align: left;
    letter-spacing: 0.2rem;
    color: white;
}

.rightCircle {
    /*position: absolute;*/
    /*值为绝对定位，该元素可放至页面任意位置，相对于页面中第一个父元素定位，属性top、right、bottom、left*/
    float: right;
    margin-right: 4rem;
}
.leftCircle {
    margin-top: 6rem;
    margin-left: 4rem;
}
.leftCircle > img {
    width: 50px;
}
.rightCircle > img {
    width: 50px;
}
.leftCircle > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
.rightCircle > p {
    font-size: 0.8rem;
    font-weight: bold;
    color: white;
}
/*——————————task04_移动端登录页——————————————*/

/*————header部分—————*/

.header {
    height: 3rem;
    font: 1rem/3rem "黑体", serif; /* font-family: "黑体", serif; line-height: 3rem; font-size: 1rem;*/
    text-align: center;
    color: white;
    background-color: #5fc0cd;
}
.register {
    position: absolute;
    left: 1rem;
}
.login {
    font-weight: bold;
    text-align: center;
}
.close {
    position: absolute;
    right: 1rem;
}

/*————下半页部分—————*/
.mainInfo {
    height: 100vh;
    background-color: Gainsboro;
}
.Info-Box {
    margin: 0.8rem 0;
}
.Num {
    position: relative; /*保证icon-num的位置与其父节点对应*/
}
.icon-num > img {
    width: 30px; /*元素显示比例大小*/
}
.icon-num {
    position: absolute;/*在Num这个父节点中任意放置*/
    left: 0.8rem;
    top: 0.6rem;
}
.input-Num {
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; /*input使用width：100%占满页宽会越界*/
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    width: 100%;
    outline: none; /*去掉选中input框时的样式（颜色）*/
}
.Pwd {
    position: relative; /*保证icon-pwd的位置与其父节点对应*/
}
.icon-pwd > img {
    width: 30px; /*元素显示比例大小*/
}
.icon-pwd {
    position: absolute;/*在Pwd这个父节点中任意放置*/
    left: 0.8rem;
    top: 1.4rem;
}
.input-pwd {
    border: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    padding-left: 4rem;
    width: 100%;
    outline: none;/*button的边框样式设置 none为都无*/
}
.btn-login {
    position: relative; /*相对定位，下边设置点击效果位置移动相对于当前父节点*/
    border: 0;
    margin-top: 0.8rem;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    width: 100%;
    font: 1rem "华文细黑", serif;
    font-weight: bold;
    letter-spacing: 1rem;
    text-align: center;
    color: white;
    outline: none;/*button的边框样式设置 none为都无*/
    background-color: #5fc0cd;
}
.btn-login:active {
    top: 0.05rem; /*设置点击button时位置向下移 rem单位*/
}
/*————忘记密码部分—————*/
.forgot {
    padding-right: 0.8rem;
    font-size: 0.8rem;
    font-weight: bold;
    text-align: right;
}
.forgot > a {
    color: #5fc0cd; /*a 标签文本的颜色单独设置*/
}

/*——————————task05_护工个人主页——————————————*/
.homePage {
    /*margin-right: 1rem;*/
    margin-bottom: 5rem;
    background-color: white;
}
/*.t5_scrollbar {
    position: absolute;
    right: 0.2rem;
    width: 10px;
    height: 100vh;
    background-color: #cccccc;
    border-radius: 2rem;
}*/

/*————header部分—————*/
.home-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 3rem;
    z-index: 1; /*提高当前层级，解决图片覆盖header区域及header区域透明显示*/
    font: 1.2rem/3rem "黑体", serif; /*font-size: 1.2rem; line-height: 3rem; font-family: "黑体", serif;*/
    text-align: center;
    color: white;
    background-color: #5fc0cd;
}
.home-back {
    position: absolute;
    left: 1.4rem;
}
.home-back > img {
    width: 10px;
}

/*————footer部分—————*/
.home-footer {
    position: fixed;
    bottom: 0;
    display: flex;
    width:100%;
    font: 1rem/0.5rem "黑体", serif; /*font-size: 1rem; line-height: 0.5rem; font-family: "黑体", serif;*/
    text-align: center;
    background-color: white;
}
.btn-msg {
    border: 0.08rem solid #5fc0cd;
    border-radius: 0.3rem;
    margin: 0.8rem 0.8rem 0.8rem 1.3rem;
    width: 50%;
    height: 2.5rem;
    color: #5fc0cd;
}
.btn-call {
    border: 0.1rem solid #5fc0cd;
    border-radius: 0.3rem;
    margin: 0.8rem 1.3rem 0.8rem 0.8rem;
    width: 50%;
    height: 2.5rem;
    color: white;
    background-color: #5fc0cd;

}

/*————护工个人信息部分—————*/
hr {
    border: none;
    height: 1px;
    background-color: #e1e5e7
}
.preInfo {
    position: relative;
    margin-top: 3rem;
}
.bg-image {
    height: 170px;
    font-family: "黑体", serif;
    background-image: url("images/icon-bg.png"); /*背景图显示须指定宽高！！！*/
    background-repeat: no-repeat;
    background-size: cover;/*扩展图像放大缩小*/
    color: white;
}
.icon-pre {
    position: absolute;
    top: 2.6rem;
    left: 1.25rem;
}
.icon-pre > img {
    width: 85px;
}
.pre-name {
    position: absolute;
    top: 2.8rem;
    left: 8rem;
    font-size: 1rem;
}
.pre-age {
    position: absolute;
    top: 2.8rem;
    left: 12.1rem;
    font-size: 1rem;
}
.icon-loc {
    position: absolute;
    top: 5.6rem;
    left: 8.2rem;
}
.icon-loc > img {
    width: 10px;
}
.pre-loc {
    position: absolute;
    top: 4.7rem;
    left: 9.2rem;
    font-size: 0.8rem;
}

/*————护工专业技能部分—————*/
.pre-list {
    position: relative;
    font-size: 1rem;
    font-family: "黑体", serif;
}
.preTitle {
    margin: 1.5rem 1.5rem 1.5rem 2rem;
    font-weight: bold;
}
.line-blue {
    position: absolute;
    top: 0.15rem;
    left: 1.27rem;
    width: 2px;
    height: 15px;
    background: #5fc0cd;
}
.list {
    margin-right: 1rem;
    margin-left: 1rem;
}
.star {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.1rem;
}
.icon-starLive > img {
    width: 14px;
}
.icon-starEat > img {
    width: 14px;
}
.lineStar {
    position: absolute;
    top: 0.15rem;
    left: 4.1rem;
    width: 1px;
    height: 15px;
    background: #e1e5e7;
}
.icon-starEat {
    margin-left: 1.1rem;
}
.workYear {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.1rem;
    position: relative;
}
.yearTit {
    color: grey;
}
.yearCon {
    padding-left: 1.5rem;
    color: #333333;
}
.lineYear {
    position: absolute;
    top: 0.1rem;
    left: 5rem;
    width: 1px;
    height: 15px;
    background: #e1e5e7;
}
.workTime {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.1rem;
}
.timeTit {
    color: grey;
}
.lineTime {
    position: absolute;
    top: 0.1rem;
    left: 5rem;
    width: 1px;
    height: 15px;
    background: #e1e5e7;
}
.timeCon {
    padding-left: 1.5rem;
    color: #333333;
}
.workPrice {
    position: relative;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    margin-left: 1.1rem;
}
.priceTit {
    color: grey;
}
.linePri {
    position: absolute;
    top: 0.1rem;
    left: 5rem;
    width: 1px;
    height: 15px;
    background: #e1e5e7;
}
.priceCon {
    padding-left: 1.5rem;
    color: #e26163;
}
.workTalk {
    position: relative;
    display: flex;
    margin-left: 1.1rem;
}
.talkTit {
    display: flex;
    align-items: center;
    min-width: 5rem;
    margin: 5px 0;/*0的话不需px单位*/
    color: grey;
}
.talkCon {
    margin: 5px 0;
    padding-left: 1rem;
    color: #333333;
}
.lineTalk {
    display: flex;
    align-self: center; /*主样式关键 https://www.cnblogs.com/lixuemin/p/6110434.html*/
    flex-shrink: 0;/*解决竖线在设备宽度过小时消失不见*/
    margin: 5px 0;
    width: 1px;
    height: 15px;
    background: #e1e5e7;
}
